%common {
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
}
.top {
  @extend %common;
  top: 0;
  right: 0;
}
.bottom {
  @extend %common;
  bottom: 0;
  left: 0;
}
.parent {
  box-shadow: 3px 2px 2px 0px var(--shadow);
}
.text {
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%, -50%);
  // transition: letter-spacing 0.5s ease-in-out;
}
.parent:hover {
  .bottom {
    transform: translate(-2.5px, 2px);
  }
  .top {
    transform: translate(2.5px, -2px);
  }
  // .text {
  //   letter-spacing: 0.98px;
  // }
}

.buttonThird {
  // background: var(--bg);
  &:hover {
    transform: unset;
  }
  padding: 10px 28px;
  border-radius: 40px;
  color: var(--primary);
}

.buttonThirdWrap {
  background: linear-gradient(
    90deg,
    #cf4e16 0%,
    rgba(207, 78, 22, 0) 50.23%,
    #cf4e16 100%
  );
  padding: 1px;
  border-radius: 40px;
  overflow: hidden;
}

// PLAY BUTTON
.triangle {
  width: 26px;
  height: 26px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; /* Change the color as needed */
  border-left: 25px solid var(--dark-bg);
  position: relative;
  left: 3px;
}

.boxTransform {
  background: none;
  box-shadow: drop-shodow(11px 10px 4px var(--dark-bg));
  transform: translate(-50%, 0);
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.025) translate(-49%, 0);
  }
}
